{% import 'macros/icon_button.jinja2' as IconButton %}
{% import 'macros/action_button.jinja2' as ActionButton %}
{% from 'macros/utils.jinja2' import add_tag %}


<sl-card id="{{ leaf.name }}">
  
  <div slot="header" id="card-header">
    <div id="title">
      {{ leaf.front['Title'] }}
    </div>
    <div id="authors">
      {{ leaf.front['AuthorShort'] }}
    </div>
  </div>

  <img
    slot="image"
    src="/assets/images/{{ leaf.front['Image'] }}"
  />

  {{ leaf.content_html|safe }}

  {{ add_tag(leaf, 'Stage') }}
  {{ add_tag(leaf, 'Theme') }}
  
  {% for tag in leaf.front['Tags'] %}
    <sl-tag size="small" pill class="{{tag}} Tag">{{ tag }}</sl-tag>
  {% endfor %}

  <div slot="footer">
  {% if index.name == 'publications' %}
    {{ IconButton.render(leaf.front['DoiUrl'], "Open Manuscript", "fas-arrow-up-right-from-square") }}   
    {{ IconButton.render(leaf.front['Pdf'], "Open PDF", "far-file-pdf") }}
    {{ IconButton.render(leaf.front['OsfUrl'], "OSF Material", "fas-recycle") }}
    {{ IconButton.render(leaf.front['DataUrl'], "Data", "fas-database") }}
  {% elif index.name == 'replications' %}
    {% set PublicationUrl = leaf.front['PublicationId'] %}
    {% if PublicationUrl != "None" %}
      {% set PublicationUrl = "/publications/#" ~ PublicationUrl %}
    {% endif %}

    {{ ActionButton.render(leaf.front['DoiUrl'], "Open Original Manuscript" , "", "fas-arrow-up-right-from-square") }}
    {{ ActionButton.render(PublicationUrl, "Go to Published Replication Materials", "", "fas-book-open", false) }}
    {{ ActionButton.render(leaf.front['SignupUrl'], "Sign up as participating lab", "Sign Up", "fas-user-plus") }}
  {% elif index.name == 'people' %}
    {{ IconButton.render(leaf.front['ScholarUrl'], "Google Scholar profile", "fab-google-scholar") }}
    {{ IconButton.render(leaf.front['UniUrl'], "University profile page", "fas-building-columns") }}
    {{ IconButton.render(leaf.front['LabUrl'], "Lab website", "fas-flask") }}
  {% endif %}

  </div>

</sl-card>
