
<sl-card >

  {% if 'image' in item.front %}
    <img
      slot="image"
      src="{{ item.front['image'] }}"
      alt=""
      decoding="async"
    />
  {% endif %}
  
  {% if item.front.get('front_summary') %}
    <h2>{{ front_title }}</h2>
    <p>{{ item.front.get('front_summary') }}</p>
  {% else %}
    {% set replications_count = item.leaves | length | string %}
    {{ item.content_html|replace("replications_count", replications_count)|safe }}
  {% endif %}
  
</sl-card>