
<sl-card >

  {% if 'image' in item.front %}
    <img
      slot="image"
      src="{{ item.front['image'] }}"
      loading="lazy"
    />
  {% endif %}
  
  {% set replications_count = item.leaves | length | string %}
  {{ item.content_html|replace("replications_count", replications_count)|safe }}
  
</sl-card>