{% extends 'master.jinja2' %}

{% block main %}

<article id="{{ index.name }}">

    {{ index.content_html|safe }}

    <div class="select-container" style="display: none">
        {% if index.name == "replications" %}
        <sl-select class="Stage" placeholder="Replication Stage" value="" multiple clearable></sl-select>
        <sl-select class="Theme" placeholder="Themes" value="" multiple clearable></sl-select>
        {% else %}
        <sl-select class="Tag" placeholder="Tags" value="" multiple clearable></sl-select>
        {% endif %}
    </div>


    <div class="card-grid">
      {% if index.name == "publications" %}
        {% include 'publication_page.jinja2' %}
      {% else %}
        {% for leaf in index.leaves %}
          {% include 'card_full.jinja2' %}
        {% endfor %}
      {% endif %}
    </div>

</article>

{% endblock %}