<a href="{{ index.front.scholar_link }}" target="_blank">Google Scholar project page</a>

<h2>About EEG ManyLabs</h2>
{% for leaf in index.leaves if leaf.front['ReplicationId'] == "None" %}
  {% include 'publication_card.jinja2' %}
{% endfor %}

<h2>Replications</h2>
{% for repID, group in index.leaves|groupby("front.ReplicationId") %}
  {% if repID != "None" %}
    <h3>{{ repID }}</h3>
    {% for leaf in group %}
      {% include 'publication_card.jinja2' %}
    {% endfor %}
  {% endif %}
{% endfor %}