{% import 'macros/action_button.jinja2' as ActionButton %}
{% from 'macros/utils.jinja2' import add_tag %}

<sl-card id="{{ leaf.name }}" class="{{leaf.front['StageID']}} {{leaf.front['Theme']|lower}}">
  
  <div slot="header" id="card-header">
    <div id="title">
      {{ leaf.front['StudyId'] }}
      <sl-tooltip content="{{ leaf.front['Title'] }} - {{ leaf.front['AuthorShort'] }}">
        <sl-icon-button name="info-circle" href="{{ leaf.front['DoiUrl'] }}" target="_blank"></sl-icon-button>
      </sl-tooltip>
    </div>
  </div>

  <img
    slot="image"
    src="/assets/images/{{ leaf.front['Image'] }}"
  />

  <div class="card-body">
    {{ leaf.content_html|safe }}

    <p class="stage">Stage: <span class="tag stage {{leaf.front['StageID']}}">{{ leaf.front['LongStage'] }}</span></p>
    <p>Theme: <span class="tag theme {{leaf.front['Theme']}}">{{ leaf.front['Theme'] }}</span></p>
    
    {% set PublicationUrl = leaf.front['PublicationId'] %}
    {% if PublicationUrl != "None" %}
      {% set PublicationUrl = "/publications/#" ~ PublicationUrl %}
    {% endif %}
    <div class="card-buttons">
      {% if leaf.front['SignupUrl'] != "done" %}
        {{ ActionButton.render(leaf.front['SignupUrl'], "Sign up as participating lab", "Sign Up", "fas-user-plus") }}
      {% endif %}
    </div>
  </div>

</sl-card>
