{% from 'macros/utils.jinja2' import external_link %}

{% macro render(url, tooltip, content, icon, external = true) %}

  {% if url %}
    <sl-tooltip content="{{ tooltip }}">
      {% if url|length > 5 %}
        {% set aAttrs = "href=" ~ url ~ " target=" ~ external_link(external) %}
      {% else %}
        {% set aAttrs = "disabled" %}
      {% endif %}

      <sl-button {{ aAttrs }}>
        <sl-icon slot="prefix" library="fa" name="{{ icon }}"></sl-icon>
        {{ content }}
      </sl-button>
    </sl-tooltip>
  {% endif %}
{% endmacro %}