{% macro render(url, tooltip, icon) %}
  <sl-tooltip content="{{ tooltip }}">
  {% if url|length > 5 %}
    <sl-icon-button library="fa" name="{{ icon }}" href="{{ url }}" target="_blank"></sl-icon-button>
  {% else %}
    <sl-icon-button library="fa" name="{{ icon }}" disabled></sl-icon-button>
  {% endif %}
  </sl-tooltip>
{% endmacro %}